{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="tab icon" type="image/png" href="{% static 'application/ftc_logo.png' %}">
    <title>My Team</title>
    <link rel="stylesheet" type="text/css" href="{% static 'application/mainstyle.css' %}">
    <style>
        img {
            border-radius: 40px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
        }

        p {
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .stat {
            display: inline-block;
            position: relative;
            text-align: center;
            margin-left: 10px;
            margin-right: 10px;
            padding: 10px;
            border: 2px solid black;
            border-radius: 10px;
            background: #CCCCCC;
            margin-bottom: 20px;
        }
        .line-of-stats {
            display: block;
            margin-left: 0px;
            margin-right: 0px;
            text-align:center;
        }
    </style>
</head>
<body>
    {% csrf_token %}

    <div id="nav">
		<ul>
            <li><a href="{% url 'home-page' %}">HOME</a></li>
            <li><a href="{% url 'event-info' %}">EVENT INFORMATION</a></li>
            <li><a href="{% url 'team-page' %}"><strong>TEAM</strong></a></li>
            <li><a href="{% url 'match-center' %}">MATCH CENTER</a></li>
            <li><a href="{% url 'rankings-page' %}">RANKINGS</a></li>
        </ul>
	</div>
    
    <p> Select Team: 
        <select id="choices"></select> <button id="select-button">Select</button>
    </p>

    <h1 style="text-align: center">Team <span id="team">{{ team_6032 }}</span> Stats</h1>
    
    <div id="display">
    <p>Certain stats don't mean much until later in the competition. For example, you are encouraged to completely neglect OPR until at least after the lunch break of a competition.</p>
    <!--<img src="lightning_hawks.JPG">-->
    <div class="line-of-stats">
        <div class="stat">
            <h2>Currently Ranked <span id="rank">{{ rank_6032 }}</span></h2>
            <h3>(<span id="adjusted_rank">{{ adjusted_rank_6032 }}</span> adjusted for matches played)</h3>
        </div>
        <div class="stat">
            <h2><span id="RP">{{ RP_6032 }}</span> Ranking Points</h2>
            <h3><span id="TBP">{{ TBP_6032 }}</span> Total Points Against</h3>
        </div>
        <div class="stat">
            <h2><span id="tbp_rank">{{ tbp_rank_6032 }}</span> in Total Points Against</h2>
            <h3>(<span id="tbp_rank_tied">{{ tbp_rank_tied_6032 }}</span> among teams with equal RP)</h3>
        </div>
        <div class="stat">
            <h2><strong><span id="matches">{{ matches_6032 }}</span></strong></h2>
            <h3>Matches Played</h3>
        </div>
    </div>
    
    <br>
    <div class="line-of-stats" id="opr-line">
        <div class="stat">
            <h2><span id="OPR_rank">{{ OPR_rank_6032 }}</span> in OPR</h2>
            <h3>(<span id="OPR">{{ OPR_6032 }}</span> pts, <span id="vsavg_OPR">{{ vsavg_OPR_6032 }}</span>)</h3>
        </div>
        <div class="stat">
            <h2><span id="autoOPR_rank">{{ autoOPR_rank_6032 }}</span> in Autonomous OPR</h2>
            <h3>(<span id="autoOPR">{{ autoOPR_6032 }}</span> pts, <span id="vsavg_autoOPR">{{ vsavg_autoOPR_6032 }}</span>)</h3>
        </div>
        <div class="stat">
            <h2><span id="teleOPR_rank">{{ teleOPR_rank_6032 }}</span> in Tele-op OPR</h2>
            <h3>(<span id="teleOPR">{{ teleOPR_6032 }}</span> pts, <span id="vsavg_teleOPR">{{ vsavg_teleOPR_6032 }}</span>)</h3>
        </div>
        <div class="stat">
            <h2><span id="endOPR_rank">{{ endOPR_rank_6032 }}</span> in End Game OPR</h2>
            <h3>(<span id="endOPR">{{ endOPR_6032 }}</span> pts, <span id="vsavg_endOPR">{{ vsavg_endOPR_6032 }}</span>)</h3>
        </div>
        </div>
    </div>

    <p id="matches-message" style="text-align: center">Your team has not played in any matches yet. Check back when your team has played in at least 1 match.</p>
    <p id="opr-message">Once all teams have played at least one match, OPR data will be displayed here.</p>
        
    <!--footer-->
    <h3 id="footer" style="position: absolute; bottom: 0;">Website Design and Content Copyright © <span id="footer-date">year</span> Owen Sorber. All Rights Reserved.</h3>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'application/dataconversion.js' %}"></script>
    <script>
        // Create select team options
        var teamsDict = convertToTeamsDict(localStorage.getItem("teams"));
        var indexOf6032 = 0;
        var count = -1;
        for (var teamNum in teamsDict) {
            count += 1;
            if (teamNum == "6032") {
                indexOf6032 = count;
            }
            var teamText = teamNum + ", " + teamsDict[teamNum];
            $("#choices").append("<option>" + teamText + "</option>");
        }

        // ugly function for displaying team data
        var displayForTeam = function(teamNum) {
            $("#display").show();
            $("#opr-line").show();
            $("#matches-message").hide();
            $("#opr-message").hide();

            var teamIndex = "{{ team }}".split(", ").indexOf(teamNum)
            console.log("{{ matches }}".split(", ")[teamIndex])
            if ("{{ matches }}".split(", ")[teamIndex] == "0") {
                $("#display").hide();
                $("#matches-message").show();
            } else if ({{ all_played }} == 0) {
                $("#opr-line").hide();
                $("#opr-message").show();
            }
            $("#team").text("{{ team }}".split(", ")[teamIndex]);
            $("#rank").text("{{ rank }}".split(", ")[teamIndex]);
            $("#adjusted_rank").text("{{ adjusted_rank }}".split(", ")[teamIndex]);
            $("#RP").text("{{ RP }}".split(", ")[teamIndex]);
            $("#TBP").text("{{ TBP }}".split(", ")[teamIndex]);
            $("#tbp_rank").text("{{ tbp_rank }}".split(", ")[teamIndex]);
            $("#tbp_rank_tied").text("{{ tbp_rank_tied }}".split(", ")[teamIndex]);
            $("#matches").text("{{ matches }}".split(", ")[teamIndex]);
            $("#OPR_rank").text("{{ OPR_rank }}".split(", ")[teamIndex]);
            $("#OPR").text("{{ OPR }}".split(", ")[teamIndex]);
            $("#vsavg_OPR").text("{{ vsavg_OPR }}".split(", ")[teamIndex]);
            $("#autoOPR_rank").text("{{ autoOPR_rank }}".split(", ")[teamIndex]);
            $("#autoOPR").text("{{ autoOPR }}".split(", ")[teamIndex]);
            $("#vsavg_autoOPR").text("{{ vsavg_autoOPR }}".split(", ")[teamIndex]);
            $("#teleOPR_rank").text("{{ teleOPR_rank }}".split(", ")[teamIndex]);
            $("#teleOPR").text("{{ teleOPR }}".split(", ")[teamIndex]);
            $("#vsavg_teleOPR").text("{{ vsavg_teleOPR }}".split(", ")[teamIndex]);
            $("#endOPR_rank").text("{{ endOPR_rank }}".split(", ")[teamIndex]);
            $("#endOPR").text("{{ endOPR }}".split(", ")[teamIndex]);
            $("#vsavg_endOPR").text("{{ vsavg_endOPR }}".split(", ")[teamIndex]);

        };

        // Default display
        $("#choices")[0].selectedIndex = indexOf6032;
        //$("#choices")[0].selectedIndex = .split(", ").indexOf("6032");
        displayForTeam("6032");

        // Select button functionality
        $("#select-button").on("click", function() {
            event.preventDefault();
            var chosenTeam = $("#choices").val().split(", ")[0];
            displayForTeam(chosenTeam);
        })
        
    </script>
    <script src="{% static 'application/footer.js' %}"></script>
</body>
</html>